h1 {
	text-align: center;
}

footer {
	font-weight: bold;
}

.tr-button {
	padding: 10px;
	margin-top: 10px;
}

.tr-button:first-of-type {
	margin-top:15px;
	}

.set-selection {
	text-align: center;
}
.set-selection button {
	display:inline-block;      
	margin:0 auto;
	width: 60px;
	margin-left: 10px;
	margin-right: 10px;
}